.checkproduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkproduct:hover {
    box-shadow: 0 0 11px rgba(14, 13, 13, 0.2); 
  }
.prod_info {
    padding-left: 20px
}

.prod_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.prod_img {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.rating_info {
    display: flex;
  }

.prod_title {
    font-size: 17px;
    font-weight: 800;
}